<%= semantic_form_for [:admin, @layer_group], builder: ActiveAdmin::FormBuilder do |f| %>
    <%= f.semantic_errors *f.object.errors.keys %>
    <%= f.inputs "Basic Details" do %>
        <%= f.input :name %>
        <%= f.input :short_name %> <span>If the title is longer than <%= LayerGroup::MAX_SHORT_TITLE_LENGTH %> chars, we'll truncate it <strong>or</strong> use this field instead</span>
        <%= f.input :description, as: :quill_editor, input_html: {data: {options: {modules: {toolbar: [['bold', 'italic', 'underline'], ['link']]}, placeholder: 'Enter description in here', theme: 'snow'}}} %>
        <%= f.fields_for :image do |imgf| %>
                <%= imgf.input :file, as: :file, :hint => imgf.object.file.attached? ? image_tag(activestorage_url_for(imgf.object.file.variant(Rails.configuration.x.image_variants[:thumb]))) : "" %>
        <% end %>
        
        <%= f.input :highlighted, label: "Highlighted Layer Group", input_html: { disabled: (f.object.highlighted == false && LayerGroup.highlighted_limit_reached) } %>
        <% if f.object.highlighted == false && LayerGroup.highlighted_limit_reached %>
            <%= content_tag(:span, "You've reached the limit of #{LayerGroup::HIGHLIGHTED_LIMIT} highlighted layers") %>
        <% end %>
    <% end %>

    <%= f.inputs "Layers in this group" do %>
        <%= f.input :layers, as: :searchable_select %>
    <% end %>

    <%= f.actions %>

<% end %>