<div class="m-layermaker-stats">
    <div class="user-stats">
        <span class="header">
            You have completed:
        </span>

        <span class="count">
            <%= current_user.layermaker_count %>
        </span>

        <span class="footer">
            images
        </span>
    </div>

    <div class="leaderboard">
        <% @layermakers.each_with_index do |layermaker, i| %>
            <div class="leaderboard-row <%= current_user == layermaker ? 'is-current-user' : '' %>">
                <div class="rank"><%= i+1 %></div>
                <div class="count"><%= layermaker.layermaker_count %></div>
                <div class="name"><%= layermaker.name %></div>
            </div>
        <% end %>
    </div>
</div>