<% content_for :template do %>

  <div class="m-page-header <%= local_assigns.has_key?(:class) ? local_assigns[:class] : "" %>">
    <div class="image" style="background-image: url('<%= guide.hero_image %>');"></div>
    <div class="text-content">
      <span class="surtitle"<%= guide.title %></span>
      <h1 class="viewable"><%= guide.title %></h1>
    </div>
  </div>

  <div class="m-content">
    <div class="m-article">
      <%= guide.content %>
    </div>
  </div>

<% end %>
<%= render template: "layouts/application" %>