<% content_for :title, "Someone wants to join your team" %>

<!-- start copy -->
<tr>
    <td align="left" bgcolor="#ffffff" style="padding: 24px; font-family: 'Muli', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;">
        <p style="margin: 0;">Hello there. <%= @user.name %> wants to join the <%= @team.name %> team on <%= link_to "Layers of London", root_url %>. You're getting this email because you are a team owner.</p>
    </td>
</tr>
<!-- end copy -->

<!-- start button -->
<tr>
    <td align="left" bgcolor="#ffffff">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td align="center" bgcolor="#ffffff" style="padding: 12px;">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td align="center" bgcolor="#549a77" style="border-radius: 6px;">
                                <a href="<%= @url_accept %>" target="_blank" style="display: inline-block; padding: 16px 36px; font-family: 'Muli', Helvetica, Arial, sans-serif; font-size: 16px; color: #ffffff; text-decoration: none; border-radius: 6px;">Accept the request and add <%=  @user.name%> to the team.</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<!-- end button -->

<!-- start copy -->
<tr>
    <td align="left" bgcolor="#ffffff" style="padding: 24px; font-family: 'Muli', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;">
        <p style="margin: 0;">If clicking the button doesn't work, copy and paste the following link in your browser to accept <%= @user.name %>.</p>
        <p style="margin: 0;"><a href="<%= @url_accept %>" target="_blank"><%= @url_accept %></a></p>
    </td>
</tr>
<!-- end copy -->

<!-- start copy -->
<tr>
    <td align="left" bgcolor="#ffffff" style="padding: 24px; font-family: 'Muli', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; border-bottom: 3px solid #d4dadf">
        <p style="margin: 0;">If you'd rather not have them on the team, no worries: you can <a href="<%= @url_deny %>" target="_blank">deny the request.</a></p>
    </td>
</tr>
<!-- end copy -->
