<div class="m-layers-slideshow">
    <div class="sidebar">
        <div class="text-content">
            <%= image_tag(("logo-text.svg"), :class => "logo viewable") %>
            <h3><%= page.slideshow_title %></h3>
            <%#= link_to page.slideshow_button_text, page.slideshow_link, class: "button" %>
            <a class="button" href="/map?layers=true">Get started</a>
        </div>
        <div class="controls"></div>
        <div class="current-slide-information">
            <p>Vestibulum massa erat, gravida vitae mattis venenatis, vestibulum non purus.</p>
        </div>
    </div>
    <ul class="rslides">
        <%= page.slides.each do |slide| %>
            <li>
                <%= image_tag(slide.image) %>
                <span class="caption"><%= slide.caption %></span>
            </li>
        <% end %>
    </ul>
</div>