<%= content_for :body_class do %>t-article-page<% end %>

<% content_for :template do %>

    <%= render 'shared/post_header' %>

    <main class="main--content main--article">
        <div class="background"><div class="motion-background" id="motion-background"></div></div>
        <div id="m-sidebar" class="m-sidebar">
            <%= render partial: "pages/sidebar_cta", collection: post.sidebar_ctas %>
        </div>

        <%= yield %>

    </main>

<% end %>

<%= render template: "layouts/application" %>