<%= content_for :body_class do %>t-content-page<% end %>
<% content_for :template do %>
    <%= render 'shared/page_header' %>
    <div class="m-sidebar">
      <%= render "shared/subnavigation" %>
        <%= render partial: "pages/sidebar_cta", collection: page.sidebar_ctas %>

    </div>
    <div class="m-content">
      <div class="m-article">
        <%= yield %>
      </div>
    </div>
<% end %>
<%= render template: "layouts/application" %>