<% content_for :template do %>

    <%= render 'shared/page_header' %>

    <main class="main--events">

        <div class="m-events-list">
            <% events.each do |event| %>
                <div class="event">

                    <%= link_to event_path(event.slug) do %>
                    <% end %>
                    <div class="date-box">
                        <span class="day"><%= event.day %></span>
                        <span class="date"><%= event.date %></span>
                        <span class="year"><%= event.year %></span>
                    </div>
                    <div class="text-content">
                        <h2 class="title"><%= event.title %></h2>
                        <p><%= event.content %></p>
                    </div>
                    </a>
                </div>
            <% end %>
        </div>

    </main>

<% end %>

<%= render template: "layouts/application" %>