<%= content_for :body_class do %>m-site-wrapper
<% end %>

<% content_for :template do %>

    <%= render 'shared/page_header', class: 'm-page-header--nano' %>

    <main class="main--content">

        <div class="background">
            <div class="motion-background" id="motion-background"></div>
        </div>

        <div class="m-layermaker-header">

            <%= yield %>

        </div>

        <div class="m-layermaker-projects <%= user_signed_in? ? "m-georeferencer-project--signed-in" : "" %>">

            <%= render 'georeferencer_projects/leader_board' if user_signed_in? %>

            <h2>Current mapping projects</h2>

            <div class="current-projects">

                <% @projects.each do |collection| %>
                    <div class="layermaker-project">
                        <%= link_to georeferencer_project_path(collection.slug) do %>
                            <div class="image" style="background-image:url(http://lol-content.rooftop.io/sites/398/2018/06/15161414/old-map-2-1600x810.jpg)"></div>
                            <div class="text-content">
                                <h3><%= collection.name %></h3>
                                <p>Fusce a scelerisque quam, a rhoncus sem. Vestibulum cursus, purus eget eleifend
                                    sodales, lacus orci bibendum magna, ac vestibulum ligula ligula eu lorem. Lorem
                                    ipsum dolor sit amet, consectetur adipiscing.</p>
                            </div>
                        <% end %>
                    </div>
                <% end %>

            </div>

        </div>

    </main>


<% end %>

<%= render template: "layouts/application" %>