<%= content_for :body_class do %>t-homepage
<% end %>
<% content_for :template do %>

    <div class="m-homepage-background"></div>

    <%= render partial: "pages/homepage_slider" %>

<!--    <div class="m-hero m-hero&#45;&#45;large m-hero&#45;&#45;home">
        <div class="image"></div>
        <div class="m-home-logo">
            <h1>Layers of London</h1>
            <%= image_tag(("logotype.svg"), :class => "viewable") %>
        </div>
        <div class="text-content">
            <h1 class="viewable"><%= strip_tags(page.content) %></h1>


        </div>

    </div>-->

    <div class="homepage-ctas-wrapper">

        <% page.homepage_ctas.each_with_index do |cta, i| %>
            <%
                class_name = case
                               when (i+1)%2 == 0
                                 "m-home-cta-block--flipped"
                               when (i+1)%3 == 0
                                 "m-home-cta-block--gray"
                               else
                                 ""
            %>

            <% end %>
            <%= render partial: "pages/homepage_cta", locals: {class: class_name, homepage_cta: cta} %>
        <% end %>

    </div>


    <div class="m-home-explore">

        <h2>Explore our content</h2>

        <%= form_with(url: resources_map_path(resource: :search), method: :get, local: :true) do %>
            <div class="search">
                <%= hidden_field_tag :results, true %>
                <%= text_field_tag :q, nil, placeholder: "Search for a place or topic you’re interested in…" %>
                <%= submit_tag 'Go' %>
            </div>
        <% end %>

        Or <%= link_to "explore the map", map_path %>.

        <%= render partial: "pages/homepage_tags" %>

    </div>

    <div class="m-highlighted-content">
        <h2>Explore our collections</h2>
        <div class="record-cards">
            <%= render partial: "shared/feature_record_card", collection: featured_items %>
        </div>
    </div>



<% end %>


<%= render template: "layouts/application" %>