<script type="text/javascript">
    window.__STATE = {collectionStore: {}, layersStore: {}, mapViewStore: {}, trayViewStore: {}};
    window.__TAXONOMIES = <%= raw Taxonomy.includes(:taxonomy_terms).all.inject({}) {|h, taxonomy| h[taxonomy.name] = {title: taxonomy.title, terms: taxonomy.taxonomy_terms.collect{|term| {name: term.name, title: term.title} }} ; h}.to_json %>;
    window.__USER_PRESENT = <%= user_signed_in? %>;
    window.__ADMIN_USER_PRESENT = <%= admin_user_signed_in? %>;
    window.__MAP_BOUNDS = <%= raw Rails.configuration.x.map_bounds.to_json %>;
    window.__MAPBOX_STATIC_MAPS_KEY = '<%= Rails.application.secrets.mapbox_static_maps_key %>';
    <% if user_signed_in? %>
        window.__USER = <%= raw({
            id: current_user.id,
            email: current_user.email,
            name: current_user.name,
            username: current_user.email,
            role: session[:teacher_classroom_user].present? ? "student" : current_user.role,
            token: current_user.teacher_token,
            token_expires: current_user.teacher_token_expires
        }.to_json) %>
    <% else %>
          window.__USER = <%= raw({
            id: nil
        }.to_json) %>
    <% end %>
</script>

<div id="map-root"></div>
