<%= semantic_form_for [:admin, @record], builder: ActiveAdmin::FormBuilder do |f| %>
    <div class="tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li><a href="#the-basics">The basics</a></li>
            <li><a href="#details">Details</a></li>
            <li><a href="#location">Location</a></li>
            <li><a href="#attachments">Attachments</a></li>
            <li><a href="#comments">Comments</a></li>
        </ul>

        <div class="tab-content">
            <div id="the-basics">
                <%= f.inputs name: "The Basics" do %>
                    <%= f.input :title  %>
                    <%= f.input :state, as: :select%>
                    <%= f.input :date_from, as: :date_picker  %>
                    <%= f.input :date_to, as: :date_picker %>
                    <% if f.object.persisted? %>
                        <li>
                            <label>View on map</label>
                            <%= link_to resource_map_url(resource: 'records', id: f.object.id), resource_map_url(resource: 'records', id: f.object.id), target: "_blank" %>
                        </li>
                        <li>
                            <label>Author</label>
                            <%= link_to f.object.user.name, edit_admin_user_path(f.object.user) %>
                        </li>
                        <li><label>&nbsp;</label><%= link_to "View #{f.object.user.first_name}'s records on map", resource_map_path(resource: 'users', id: f.object.user.id) %></li>
                        <%= f.input :allow_team_editing %>
                        <%= f.input :editing_team, as: :select, collection: f.object.user.teams, prompt: "Choose a team" %>

                    <% end %>

                <% end %>
            </div>

            <div id="details">
                <%= f.inputs name: "Details" do %>
                    <%= f.input :description, as: :quill_editor, input_html: {data: {options: {modules: {toolbar: [['bold', 'italic', 'underline'], ['link']]}, placeholder: 'Enter description in here', theme: 'snow'}}} %>
                    <%= f.input :credit %>
                    <%= f.input :view_type %>
                <% end %>
            </div>

            <div id="tags">
                <%= f.inputs name: "Tags" do %>
                    <% TagGroup.all.in_groups(3).each do |groups| %>
                        <div class="col">
                            <% groups.each do |group| %>
                                <% next if group.nil? %>
                                <h4><%= group.name %></h4>
                                <%= f.input :tags, as: :check_boxes, collection: group.tags %>
                            <% end %>
                        </div>
                    <% end %>
                <% end %>
            </div>

            <div id="location">
                <%= f.inputs name: "Location" do %>
                    <%= f.input :lat %>
                    <%= f.input :lng %>
                <% end %>
            </div>

            <div id="attachments">
                <%= f.inputs "Attachments" do %>
                    <%= f.fields_for :attachments do |af| %>
                        <%= render partial: "admin/shared/attachment", locals: {f: af} %>
                        <hr>
                    <% end %>

                <% end %>
            </div>

            <div id="comments">
                <div class="index_content">
                    <div class="index_as_table">
                        <table class="index_table index">
                            <thead>
                                <th>Destroy</th>
                                <th>Content</th>
                                <th>State</th>
                            </thead>

                            <tbody>
                                <%= f.fields_for :comments, f.object.comments do |comment_form| %>
                                    <tr>
                                        <td width="25px">
                                            <%= comment_form.check_box :_destroy %>
                                        </td>

                                        <td width="50%">
                                            <%= sanitize(comment_form.object.content.html_safe) %>
                                        </td>

                                        <td>
                                            <%= comment_form.object.state %>
                                        </td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%= f.actions %>
   
<% end  %>
