<div class="s-tray-area--search-results">
    <div class="m-tray-title-area m-tray-title-area--search-results">
        <div class="close">
            <button class="close">Close</button>
        </div>
        <h1>Search terms</h1>
        <div class="meta">Results, 236 records, 3 collections</div>
    </div>
    <div class="m-tray-records-list">
        <%= render "shared/record-card" %>
        <%= render "shared/record-card" %>
        <%= render "shared/record-card" %>
        <%= render "shared/record-card" %>
        <%= render "shared/record-card" %>
        <%= render "shared/record-card--collection" %>
        <%= render "shared/record-card" %>
        <%= render "shared/record-card" %>
        <%= render "shared/record-card--collection" %>
        <%= render "shared/record-card" %>
        <%= render "shared/record-card" %>
        <%= render "shared/record-card" %>
        <%= render "shared/record-card" %>
    </div>
</div>