<div class="s-tray-area--team">

    <div class="m-tray-title-area">
        <div class="close">
            <button class="close">Close</button>
        </div>
        <h1>Mrs Clark's History Class</h1>
        <div class="meta">Team, 3 collections</div>
        <button class="request-to-join">Request to join</button>
    </div>

    <div class="m-tray-introduction">
        <p>Aliquam fermentum accumsan odio, a molestie velit pretium eu. Cras dictum nisi mauris, non scelerisque nulla ullamcorper ut. Maecenas convallis urna nec vestibulum blandit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam erat volutpat. <a href="#">Read more</a></a></p>
    </div>

    <div class="m-tray-records-list">
        <%= render "shared/record-card" %>
        <%= render "shared/record-card" %>
        <%= render "shared/record-card" %>
        <%= render "shared/record-card" %>
        <%= render "shared/record-card" %>
        <%= render "shared/record-card" %>
        <%= render "shared/record-card" %>
        <%= render "shared/record-card" %>
        <%= render "shared/record-card" %>
    </div>

</div>