<div class="s-tray-area--default is-showing">
    <div class="m-tray-records-list">
        <%= render "shared/record-card" %>
        <%= render "shared/record-card" %>
        <%= render "shared/record-card" %>
        <%= render "shared/record-card--collection" %>
        <%= render "shared/record-card" %>
        <%= render "shared/record-card" %>
        <%= render "shared/record-card--collection" %>
        <%= render "shared/record-card" %>
        <%= render "shared/record-card" %>
        <%= render "shared/record-card" %>
        <%= render "shared/record-card" %>
        <%= render "shared/record-card" %>
        <%= render "shared/record-card" %>
    </div>
</div>