<div class="m-account-page m-account-page--team">

    <div class="wrap">

        <div class="section section--team-header">

            <h1><%= @team.name %></h1>
            <% if policy(@team).delete? %>
                <%= render 'form_delete_team', team: @team %>
            <% elsif policy(@team).leave? %>
                <%= render 'form_leave_team', team: @team %>
            <% end %>
            <button class="show-on-map">Show on map</button>
            <span class="type">
          <%= "You are #{@team.leaders.include?(current_user) ? "a leader" : "a member"} of this team" %>
      </span>
        </div>

        <div class="section section--members">

            <h2>Invite a new member</h2>

            <%= render 'form_invite_member', team: @team %>
            <% if policy(@team).view_members? %>
                <h2>Members</h2>

                <ul>
                    <% @team.users.each do |user| %>
                        <li>
                            <a href="mailto:<%= user.email %>" class="clickable" data-type="user" data-id="<%= user.id %>">
                                <%= user.name.present? ? user.name : user.email %>
                            </a>
                            <% if @team.role_for_user(user) == 'leader' %>
                                <span class="ownership-indicator">Owner</span>
                            <% elsif policy(@team).manage_members? %>
                                <button class="remove" data-confirm="Are you sure you want to remove <%= user.name %>?">Remove from team</button>
                            <% end %>
                        </li>
                    <% end %>
                </ul>
            <% end %>

        </div>

        <div class="section section--collections">

            <h2>Collections</h2>
            <ul>
                <% @team.collections.each do |collection| %>
                    <li>
                        <a href="#" class="clickable" data-type="collection" data-id="<%= collection.id %>"><%= collection.title %></a>
                        <button class="remove">Remove from team</button>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>

</div>
<script>
  window.onload = function() {
    var targetOrigin = window.location.protocol +'//' + window.location.host;
    var anchors = document.getElementsByClassName('clickable');
    for(var i = 0; i < anchors.length; i++) {
      var anchor = anchors[i];
      anchor.onclick = function() {
        parent.postMessage(
          {
            'scope': 'clickable-iframe-element',
            'type': this.dataset.type,
            'id': this.dataset.id
          },
          targetOrigin
        );
      }
    }
  }
</script>