<% content_for :equivalent_url_in_iframe, "/map/account/teams/#{@team.id}" %>
<div class="m-account-page m-account-page--team">

    <div class="wrap">

        <div class="navigation">
            <%= link_to teams_path do %>
                <i class="fa fa-arrow-left"></i> Your teams
            <% end %>
        </div>

        <div class="section section--team-header">

            <h1><%= @team.name %></h1>
            <%= render 'teams/forms/delete_team', team: @team if policy(@team).destroy? %>
            <%= render 'teams/forms/leave_team', team: @team if policy(@team).leave? %>
            <%# TODO we need to have a map view for a team
                <button class="show-on-map">Show on map</button>
            %>
            <span class="type">
                <%= "You are #{@team.leaders.include?(current_user) ? "a leader" : "a member"} of this team" %>
            </span>
        </div>

        <div class="section section--members">

            <%= render 'teams/forms/invite_member', team: @team if policy(@team).manage_members? %>
            <%= render 'member_list' if policy(@team).view_members? %>

        </div>

        <div class="section section--collections">

            <h2>Collections</h2>
            <ul>
                <% @team.collections.each do |collection| %>
                    <li>
                        <a href="#" class="clickable" data-type="collection" data-id="<%= collection.id %>"><%= collection.title %></a>
<!--                        <button class="remove">Remove from team</button>-->
                    </li>
                <% end %>
            </ul>
        </div>
    </div>

</div>
<script>
  window.onload = function() {
    var targetOrigin = window.location.protocol +'//' + window.location.host;
    var anchors = document.getElementsByClassName('clickable');
    for(var i = 0; i < anchors.length; i++) {
      var anchor = anchors[i];
      anchor.onclick = function() {
        parent.postMessage(
          {
            'scope': 'clickable-iframe-element',
            'type': this.dataset.type,
            'id': this.dataset.id
          },
          targetOrigin
        );
      }
    }
  }
</script>