<%= form_with(model: team, html: { method: :post, class: 'form--chunky form--over-white' }, format: :html) do |form| %>
  <input type="hidden" name="is_form" value="1">
  <% if team.errors.any? %>
    <div>
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, :required => true%>
  </div>

  <p class="helper-text">Team members can create and contribute to team collections, and they can allow their records to be editable by the whole team.</p>

  <%= form.submit "Create team" %>

<% end %>

