<div class="m-account-page m-account-page--records-collections">

  <div class="wrap">
    <div class="section section--records <%= session[:teacher_classroom_user].present? ? 'student--records' : '' %>">
      <h2>Your records</h2>
      <ul>
        <% records.each do |record| %>
          <li>
            <% if record.state == 'draft' %>
              <%= record.title %>
            <% else %>
              <a href="#" class="clickable" data-type="record" data-id="<%= record.id %>"><%= record.title %></a>
            <% end %>
            <button class="edit clickable" data-type="record" data-id="<%= record.id %>" data-action="edit">Edit</button>
            <span class="draft-indicator"><%= record.state %></span>
          </li>
        <% end %>
      </ul>
    </div>

    <% unless session[:teacher_classroom_user].present? %>
      <div class="section section--collections">
        <h2>Your collections</h2>
        <h3>Created by you</h3>
        <ul class="created-by-you">
          <% current_user.user_collections.each do |collection | %>
            <li>
              <a href="#" class="clickable" data-type="collection" data-id="<%= collection.id %>">
                <%= collection.title %>
              </a>
              <button class="edit clickable" data-type="collection" data-id="<%= collection.id %>" data-action="edit">Edit</button>
            </li>
          <% end %>
        </ul>
        <h3>Created by your teams</h3>
        <ul>
          <% current_user.team_collections_granted.each do |collection | %>
            <li>
              <a href="#" class="clickable" data-type="collection" data-id="<%= collection.id %>">
                <%= collection.title %>
              </a>
                <% if CollectionPolicy.new(current_user,collection).edit? %>
                    <button class="edit clickable" data-type="collection" data-id="<%= collection.id %>" data-action="edit">Edit</button>
                <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
