<!DOCTYPE html>
<html lang="en">
<head>

    <title><%= content_for?(:title) ? "#{yield(:title)} | " : "" %>Layers of London | Recording the Layers of London's Rich Heritage</title>

    <%= yield(:meta_tags) if content_for?(:meta_tags) %>
    <%= stylesheet_link_tag 'marketing' %>

    <%= javascript_include_tag 'marketing' %>

    <%= yield(:head_content) if content_for?(:head_content) %>

    <meta name="viewport" content="width=device-width">

    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab:400,600,700|Muli:400,600,700" rel="stylesheet">

    <script type="text/javascript" charset="utf-8">
      dataLayer = [];
    </script>
    <%= render partial: "shared/gtm" unless Rails.env.development? %>

    <%= render partial: "shared/favicon" %>

</head>
<body class="<%= content_for? (:body_class) ? yield(:body_class) : '' %>">
    <div class="m-site-wrapper">
        <%= render "shared/header" %>
        <%= content_for?(:template) ? yield(:template) : yield %>
        <%= render "shared/footer" %>
    </div>
</body>
</html>
