<!DOCTYPE html>
<html>
    <head>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag 'iframe' %>
        <%= javascript_include_tag 'application' %>
    </head>
    <body class="iframe-view">
        <%= render partial: "shared/flash" %>
        <%= yield %>
    </body>
</html>
