<!DOCTYPE html>
<html lang="en">
<head>
    <title>Layers of London <%= content_for?(:title) ? "- #{yield(:title)}" : "" %></title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="device" content="<%= browser.device.tablet? ? browser.device.id : ''  %>">
    <meta name="device-tablet" content="<%= browser.device.tablet? %>">

    <%= stylesheet_link_tag 'map' %>

    <!--<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>-->

    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab:400,600,700|Muli:400,600,700" rel="stylesheet">


    <script type="text/javascript" charset="utf-8">
        <%# Redirect the old site structure, which uses hash anchors %>
        if (window.location.toString().match(/#\/?(collections|pins)\/\d+/)) {
          window.location = window.location.toString().split('#').join("/")
        }
    </script>

    <script type="text/javascript" charset="utf-8">
      window.dataLayerParams = window.dataLayerParams || [];
    </script>

    <% if params[:new_signup] %>
        <script type="text/javascript" charset="utf-8">
          dataLayerParams.push({
            event: 'createAccount',
            user_id: <%= current_user.try(:id) %>
          })
        </script>
    <% end %>

    <%= stylesheet_pack_tag 'styles', media: 'all' %>

    <%= javascript_pack_tag 'application' %>

    <%= render partial: "shared/favicon" %>

    <%= render partial: "shared/gtm" %>

</head>

<body>
    <%= yield %>
</body>
</html>
