<!DOCTYPE html>
<html>
<head>
    <title>Layers of London<%= content_for?(:title) ? "- #{yield(:title)}" : "" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">

    <%= stylesheet_pack_tag 'styles', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
</head>

<body>
    <%= yield %>
</body>
</html>
