<!DOCTYPE html>
<html>
<head>
    <title>Layers of London<%= content_for?(:title) ? "- #{yield(:title)}" : "" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab:400,600,700|Muli:400,600,700" rel="stylesheet">

    <%= stylesheet_pack_tag 'styles', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets[:google_maps_api_key] %>&libraries=places"></script>
</head>

<body>
    <%= yield %>
</body>
</html>
