<!DOCTYPE html>
<html lang="en">
<head>
    <title>Layers of London <%= content_for?(:title) ? "- #{yield(:title)}" : "" %></title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <%= stylesheet_link_tag 'map' %>
    <!--<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>-->
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab:400,600,700|Muli:400,600,700" rel="stylesheet">
    <script type="text/javascript" charset="utf-8">
        <%# Redirect the old site structure, which uses hash anchors %>
        if (window.location.toString().match(/#\/?(collections|pins)\/\d+/)) {
          window.location = window.location.toString().split('#').join("/")
        }
    </script>

    <script type="text/javascript" charset="utf-8">
      window.dataLayerParams = window.dataLayerParams || [];
      window.__EDITABLE_ADJACENT_RANGE = <%= Rails.configuration.x.editable_adjacent_range || 0 %>;
      window.__MAPTOOLS_GRID_WIDTH = <%= LayersOfLondon::Booth::MapTool.configuration.squares_x %>;
      window.__POLYGONS_URL = '<%= LayersOfLondon::Booth::MapTool.configuration.polygons_url %>';
    </script>
    <% if params[:new_signup] %>
        <script type="text/javascript" charset="utf-8">
          dataLayerParams.push({
            event: 'createAccount',
            user_id: <%= current_user.try(:id) %>
          })
        </script>
    <% end %>

    <%= stylesheet_pack_tag 'styles-maptools', media: 'all' %>

    <%= javascript_pack_tag 'maptools' %>

    <%= render partial: "shared/favicon" %>

    <%= render partial: "shared/gtm" %>

</head>

<body>
    <div class="m-site-header">
        <h1>Tracing the Booth poverty map</h1>
        <div class="links">
            <%= link_to "About this project", maptools_path %>
            <%= link_to "Back to Layers of London", "/" %>
        </div>
    </div>
    <div class="m-message">
        <h2>Sorry, this site requires a larger screen!</h2>
        <p>This project requires complex interactions, to trace shapes on a map, which would be extremely difficult on a mobile-sized device. Please try on a desktop computer, laptop or tablet.</p>
        <p>Thank you!</p>
    </div>
    <div class="m-blocker"></div>
    <%= yield %>
</body>
</html>
