<%= semantic_form_for [:admin, @layer], builder: ActiveAdmin::FormBuilder do |f| %>
    <%= f.semantic_errors *f.object.errors.keys %>
    <%= f.inputs "Basic Details" do %>
        <%= f.input :title %>
        <%= f.input :short_title %> <span>If the title is longer than <%= Layer::MAX_SHORT_TITLE_LENGTH %> chars, we'll truncate it <strong>or</strong> use this field instead</span>

        <%= f.input :description, as: :quill_editor, input_html: {data: {options: {modules: {toolbar: [['bold', 'italic', 'underline'], ['link']]}, placeholder: 'Enter description in here', theme: 'snow'}}} %>

        <%= f.input :layer_type, as: :searchable_select %>
    <% end %>

    <%= f.inputs "Date and location" do %>
        <%= f.input :date_from, as: :date_picker %>
        <%= f.input :date_to, as: :date_picker %>
    <% end %>

    <%= f.inputs "Layer data" do %>
        <%= render "admin/layers/layer_types/#{f.object.layer_type}", f: f %>
    <% end %>

    <%= f.inputs "Linked collection" do %>
        <%= f.input :collection, as: :searchable_select %>
    <% end %>

    <%= f.actions %>
<% end %>
